@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
/* Import de la font Syne depuis Google Fonts et je l'applique sur tous les éléments de la page */
body * {
   font-family: 'Syne', sans-serif;
}
/* J'applique un noir sur les paragraphes */
p {
   color: #000000;
}
/* J'applique et une taille de 16px sur les liens du menu */
#primary-site-navigation-desktop a {
   font-size: 16px;
}

/* J'applique un gras et une taille de 13px sur les liens du menu */
#primary-site-navigation-desktop a:hover {
   font-weight: bold;
   font-size: 13px;
}

#wpforms-submit-240 {
   margin-left: 130px;
   padding: 0 40px;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
   #wpforms-submit-240 {
      margin-left: 90px;
   }
}

.nombres {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 35px;
   height: 50px;
   background-color: white;
   color: #000;
   margin-left: 110px;
}

@media only screen and (min-width: 767px) and (max-width: 1023px) {
   .nombres {
      margin-left: 68px;
   }
}

#wpforms-submit-377 {
   margin-top: 25px;
   margin-left: 500px;
   padding: 0 40px;
}

@media only screen and (min-width: 767px) and (max-width: 1023px) {
   #wpforms-submit-377 {
      margin-left: 305px;
   }
}

#wpforms-377-field_1-container,
#wpforms-377-field_3-container,
#wpforms-377-field_5-container {
   padding-right: 35px;
}

#wpforms-377-field_2-container,
#wpforms-377-field_4-container,
#wpforms-377-field_6-container {
   padding-left: 35px;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
   #wpforms-submit-486 {
      margin-left: 110px;
   }
}